In [1]:
import pandas as pd

In [2]:
base = pd.read_csv('Base de dados/credit-data.csv')

In [3]:
base

      clientid        income        age          loan  default
0            1  66155.925095  59.017015   8106.532131        0
1            2  34415.153966  48.117153   6564.745018        0
2            3  57317.170063  63.108049   8020.953296        0
3            4  42709.534201  45.751972   6103.642260        0
4            5  66952.688845  18.584336   8770.099235        1
5            6  24904.064140  57.471607     15.498598        0
6            7  48430.359613  26.809132   5722.581981        0
7            8  24500.141984  32.897548   2971.003310        1
8            9  40654.892537  55.496853   4755.825280        0
9           10  25075.872771  39.776378   1409.230371        0
10          11  64131.415372  25.679575   4351.028971        0
11          12  59436.847123  60.471936   9254.244538        0
12          13  61050.346079  26.355044   5893.264659        0
13          14  27267.995458  61.576776   4759.787581        0
14          15  63061.960174  39.201553   1850.369377        0
15          16  50501.726689 -28.218361   3977.287432        0
16          17  43548.654711  39.574530   3935.544453        0
17          18  43378.175194  60.848318   3277.737553        0
18          19  20542.365073  61.690571   3157.442290        0
19          20  58887.357549  26.076093   4965.516066        0
20          21  23000.784002  31.761354   1148.118057        0
21          22  32197.620701 -52.423280   4244.057136        0
22          23  23329.319414  48.576975    222.622299        0
23          24  27845.800894  51.970624   4959.921226        0
24          25  65301.984029  48.840922   5465.267886        0
25          26  47451.630123  27.031741   5361.282716        0
26          27  63287.038908 -36.496976   9595.286289        0
27          28  45727.459870  55.839922   6376.822949        0
28          29  59417.805406        NaN   2082.625938        0
29          30  58842.891308  54.510948  10871.186790        0
...        ...           ...        ...           ...      ...
1970      1971  68047.925311  47.694520   4023.064765        0
1971      1972  36275.735863  30.308184    644.384195        0
1972      1973  52389.366848  54.969313  10398.820592        0
1973      1974  23678.376111  47.466485   1779.814597        0
1974      1975  37707.642948  31.344048    268.290971        0
1975      1976  57753.568962  54.235915   5067.449964        0
1976      1977  30529.963288  47.604402   6046.840845        0
1977      1978  44022.268737  31.192627   1707.672870        0
1978      1979  58533.884683  40.518963   7832.443321        0
1979      1980  33702.531834  48.148404    922.036590        0
1980      1981  40236.872067  52.580773   4354.314412        0
1981      1982  62619.155988  43.999461   3959.611772        0
1982      1983  50738.362193  45.993199   9719.562798        0
1983      1984  64466.760138  33.327144   8537.369666        1
1984      1985  64636.402186  60.886966   2583.106425        0
1985      1986  22371.522191  39.142225   2291.856428        0
1986      1987  67994.988470  38.622259   7289.014109        0
1987      1988  49640.004702  20.542409   5760.858734        0
1988      1989  42067.246446  24.270612   4601.606183        0
1989      1990  43662.092688  25.252609   7269.596897        1
1990      1991  34237.575419  34.101654   2658.090632        0
1991      1992  26300.446554  45.539385   2317.393678        0
1992      1993  30803.806165  23.250084    623.024153        0
1993      1994  54421.410155  26.821928   3273.631823        0
1994      1995  24254.700791  37.751622   2225.284643        0
1995      1996  59221.044874  48.518179   1926.729397        0
1996      1997  69516.127573  23.162104   3503.176156        0
1997      1998  44311.449262  28.017167   5522.786693        1
1998      1999  43756.056605  63.971796   1622.722598        0
1999      2000  69436.579552  56.152617   7378.833599        0

[2000 rows x 5 columns]

In [9]:
#Transformação dos numeros negativos
base.loc[base.age < 0,'age'] = 40.92
base.loc[base.age < 0,'age']

Series([], Name: age, dtype: float64)

In [12]:
previsores = base.iloc[:,1:4].values
classe = base.iloc[:,4].values

In [14]:
from sklearn.preprocessing import Imputer

In [15]:
imputer = Imputer(missing_values = 'NaN',strategy = 'mean',axis = 0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [16]:
imputer =imputer.fit(previsores[:,1:4])
previsores[:,1:4] = imputer.transform(previsores[:,1:4])

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
previsores_treinamento,previsores_teste,classe_treinamento,classe_teste = train_test_split(previsores,classe,test_size = 0.25,random_state = 0)

In [25]:
pd.DataFrame(previsores_treinamento)

             0         1         2
0    -1.375446  0.506311  0.109809
1     1.458264 -1.648939 -1.215015
2    -0.793568  0.225312 -0.433702
3    -1.415844  0.350703 -0.353626
4    -0.592833 -0.321024  0.694192
5    -0.276054  0.372416  0.288926
6     1.678350  0.864014  0.053060
7     0.192122 -0.133628  1.559696
8     1.126406 -0.341126  0.215039
9    -1.661553  1.281196 -0.812184
10   -0.251027 -0.477878  1.037310
11    1.634586  1.166736 -0.707525
12    1.057453  1.469928  2.058474
13   -0.127199 -1.724894  0.958622
14   -0.144225  0.288003  0.574681
15   -0.280428  1.252393 -1.006836
16    1.114774  0.555332  1.627490
17    0.472159 -0.006279 -1.297144
18    0.810951  1.093049  2.210919
19    1.319680 -1.072806  2.515944
20   -1.511807  0.493548 -0.875160
21   -1.552034 -0.389930 -0.875239
22   -0.163420 -0.860387  0.072656
23    1.181372 -0.957200 -0.901480
24    0.697435 -0.868810  0.507890
25   -0.353913  0.820555  0.686937
26   -1.123691 -1.232596 -1.451876
27   -1.553484  0.978909 -1.375104
28   -1.159317 -0.466183 -0.252422
29    0.003575  0.119912 -0.558986
...        ...       ...       ...
1470 -0.811792 -0.584560  0.477438
1471 -1.681777  1.278658 -0.330216
1472 -1.592925  1.101345 -0.058108
1473  0.890246  1.451376  1.553972
1474 -0.148433 -1.343679  0.128391
1475 -0.308113 -0.282434 -0.207141
1476 -0.388158  0.211175  0.344383
1477 -1.237101 -1.639065 -0.962589
1478  0.398250  1.363718 -0.510565
1479 -1.688715 -1.477278 -1.228715
1480  0.558494  0.109412 -0.690021
1481  0.420096  0.868702 -0.964472
1482 -0.295227  1.672018 -0.262778
1483 -0.338387 -0.124259 -1.100518
1484 -0.426852 -0.817166 -1.175750
1485  1.201169 -0.130853  1.657299
1486  1.261658  0.475202  1.013712
1487 -0.254071  1.599688 -0.898513
1488 -0.650140  0.144769 -0.478350
1489 -1.702785 -1.593235 -0.113725
1490 -1.590731  1.260418 -0.488422
1491 -0.727627 -1.159292 -0.522884
1492 -1.304763 -1.633239 -0.995381
1493 -1.161141 -0.915620  0.212156
1494  1.384886 -1.152685  1.449993
1495 -1.105585  1.036953 -0.731577
1496 -0.997519  0.679937  0.007063
1497  0.217382 -0.147044  1.408725
1498  0.587162  0.664355  0.679481
1499  0.683154  0.040849  1.918197

[1500 rows x 3 columns]

In [26]:
pd.DataFrame(previsores_teste)

            0         1         2
0    1.593016 -1.354358  2.582627
1    0.997698  0.998066  0.844187
2   -0.424853  0.558126 -1.157853
3   -0.763567 -1.160841 -0.773369
4   -0.514269 -0.988720 -1.361509
5    0.793483  1.252405  1.721795
6    0.164222 -0.650724  0.101134
7    0.555582  0.493047  1.183313
8   -1.372632 -1.674238 -0.713456
9   -1.730760  1.567181 -0.422685
10  -1.535022 -0.199079  0.034073
11  -0.035214  1.160187 -0.592664
12  -1.274042  1.489896 -0.380391
13  -1.653547  0.880047 -0.290951
14  -1.623617  1.212793 -0.162983
15  -0.651943  0.982094 -1.428892
16   1.279241 -1.012361  1.452436
17   0.975202 -0.297648  0.164120
18  -1.186261 -0.072908 -0.721307
19   0.346167 -1.272111  0.552777
20   1.308458  1.527012 -0.662921
21   1.611493 -0.964072 -1.278481
22   0.276010  0.831188 -1.297614
23   0.938633  0.360004  0.403735
24   0.719931 -0.152227 -0.526390
25   0.990202  1.214484 -0.637068
26  -1.399351  0.937086 -0.243980
27  -1.055206  0.535438  0.482863
28  -0.657122 -1.028306 -1.056693
29  -1.134926  0.022250 -1.365709
..        ...       ...       ...
470 -0.582431 -0.541346 -1.276933
471  1.241584  0.560317  2.445730
472  0.859796  1.656260 -0.982667
473 -0.157927  0.023576 -0.115878
474  0.987513 -0.316303 -0.596492
475 -0.030309  0.787284  0.423047
476 -0.376850 -0.703452 -1.399053
477 -0.024562 -0.633713  0.525749
478  0.802826 -0.284150  1.976705
479  1.560050 -0.240577 -0.015862
480 -1.014316 -1.334304 -1.255102
481 -1.251357 -0.244250 -0.608721
482  0.740085 -1.319869 -0.128373
483 -0.636179  1.200977 -0.053726
484 -0.491772 -0.920271 -0.893689
485 -0.858419 -1.197438 -1.144759
486 -0.722643 -1.316368  0.347615
487  1.601958 -0.484038  0.130625
488  1.568762 -0.904581  0.194035
489  0.650529  1.174684  2.046345
490  0.331029 -0.597229  1.196919
491 -1.379250  0.830625 -0.828244
492  1.175766 -1.259300 -1.119639
493  0.741231 -0.047150  1.354787
494  0.028197  0.897709 -0.492613
495  0.401921  0.842219  1.528171
496 -0.410393 -0.643553 -1.316222
497  1.374457 -1.057463 -1.125648
498 -1.570877 -0.634882 -0.369817
499 -1.035723 -0.939781  0.042443

[500 rows x 3 columns]

In [27]:
from sklearn.naive_bayes import GaussianNB

In [28]:
classificador = GaussianNB()

In [30]:
classificador.fit(previsores_treinamento,classe_treinamento)

GaussianNB(priors=None, var_smoothing=1e-09)

In [31]:
previsoes = classificador.predict(previsores_teste)

In [32]:
pd.DataFrame(previsoes)

     0
0    1
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
10   0
11   0
12   0
13   0
14   0
15   0
16   1
17   0
18   0
19   1
20   0
21   0
22   0
23   0
24   0
25   0
26   0
27   0
28   0
29   0
..  ..
470  0
471  0
472  0
473  0
474  0
475  0
476  0
477  0
478  0
479  0
480  0
481  0
482  0
483  0
484  0
485  0
486  1
487  0
488  0
489  0
490  0
491  0
492  0
493  0
494  0
495  0
496  0
497  0
498  0
499  0

[500 rows x 1 columns]

In [33]:
from sklearn.metrics import confusion_matrix,accuracy_score

Neste trecho de codigo a sklearn faz a comparação com a base de teste com a base de resposta previsores, e traz uma porcentagem de acerto.

In [35]:
precisao = accuracy_score(classe_teste,previsoes)

In [36]:
precisao

0.938

Com a matriz de confusão conseguimos analisar mellhor a resposta do algoritimo, onde o algoritimo acertou 428 +41 = 469, ou seja, dos 500 dados de treinamento, foi acertado 469 registros,e errou 31.

In [37]:
matriz = confusion_matrix(classe_teste,previsoes)

In [40]:
pd.DataFrame(matriz)

     0   1
0  428   8
1   23  41

Agora faremos uma comparação se compensa fazer todo o processo de pré processamento antes de passar para o algoritimo.

In [41]:
base = pd.read_csv('Base de dados/credit-data.csv')

In [42]:
base

      clientid        income        age          loan  default
0            1  66155.925095  59.017015   8106.532131        0
1            2  34415.153966  48.117153   6564.745018        0
2            3  57317.170063  63.108049   8020.953296        0
3            4  42709.534201  45.751972   6103.642260        0
4            5  66952.688845  18.584336   8770.099235        1
5            6  24904.064140  57.471607     15.498598        0
6            7  48430.359613  26.809132   5722.581981        0
7            8  24500.141984  32.897548   2971.003310        1
8            9  40654.892537  55.496853   4755.825280        0
9           10  25075.872771  39.776378   1409.230371        0
10          11  64131.415372  25.679575   4351.028971        0
11          12  59436.847123  60.471936   9254.244538        0
12          13  61050.346079  26.355044   5893.264659        0
13          14  27267.995458  61.576776   4759.787581        0
14          15  63061.960174  39.201553   1850.369377        0
15          16  50501.726689 -28.218361   3977.287432        0
16          17  43548.654711  39.574530   3935.544453        0
17          18  43378.175194  60.848318   3277.737553        0
18          19  20542.365073  61.690571   3157.442290        0
19          20  58887.357549  26.076093   4965.516066        0
20          21  23000.784002  31.761354   1148.118057        0
21          22  32197.620701 -52.423280   4244.057136        0
22          23  23329.319414  48.576975    222.622299        0
23          24  27845.800894  51.970624   4959.921226        0
24          25  65301.984029  48.840922   5465.267886        0
25          26  47451.630123  27.031741   5361.282716        0
26          27  63287.038908 -36.496976   9595.286289        0
27          28  45727.459870  55.839922   6376.822949        0
28          29  59417.805406        NaN   2082.625938        0
29          30  58842.891308  54.510948  10871.186790        0
...        ...           ...        ...           ...      ...
1970      1971  68047.925311  47.694520   4023.064765        0
1971      1972  36275.735863  30.308184    644.384195        0
1972      1973  52389.366848  54.969313  10398.820592        0
1973      1974  23678.376111  47.466485   1779.814597        0
1974      1975  37707.642948  31.344048    268.290971        0
1975      1976  57753.568962  54.235915   5067.449964        0
1976      1977  30529.963288  47.604402   6046.840845        0
1977      1978  44022.268737  31.192627   1707.672870        0
1978      1979  58533.884683  40.518963   7832.443321        0
1979      1980  33702.531834  48.148404    922.036590        0
1980      1981  40236.872067  52.580773   4354.314412        0
1981      1982  62619.155988  43.999461   3959.611772        0
1982      1983  50738.362193  45.993199   9719.562798        0
1983      1984  64466.760138  33.327144   8537.369666        1
1984      1985  64636.402186  60.886966   2583.106425        0
1985      1986  22371.522191  39.142225   2291.856428        0
1986      1987  67994.988470  38.622259   7289.014109        0
1987      1988  49640.004702  20.542409   5760.858734        0
1988      1989  42067.246446  24.270612   4601.606183        0
1989      1990  43662.092688  25.252609   7269.596897        1
1990      1991  34237.575419  34.101654   2658.090632        0
1991      1992  26300.446554  45.539385   2317.393678        0
1992      1993  30803.806165  23.250084    623.024153        0
1993      1994  54421.410155  26.821928   3273.631823        0
1994      1995  24254.700791  37.751622   2225.284643        0
1995      1996  59221.044874  48.518179   1926.729397        0
1996      1997  69516.127573  23.162104   3503.176156        0
1997      1998  44311.449262  28.017167   5522.786693        1
1998      1999  43756.056605  63.971796   1622.722598        0
1999      2000  69436.579552  56.152617   7378.833599        0

[2000 rows x 5 columns]

In [43]:
previsores = base.iloc[:,1:4].values
classe = base.iloc[:,4].values

In [45]:
classificador = GaussianNB()

In [47]:
imputer = Imputer(missing_values = 'NaN',strategy = 'mean',axis = 0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [48]:
imputer =imputer.fit(previsores[:,1:4])
previsores[:,1:4] = imputer.transform(previsores[:,1:4])

In [49]:
previsores_treinamento,previsores_teste,classe_treinamento,classe_teste = train_test_split(previsores,classe,test_size = 0.25,random_state = 0)

In [50]:
classificador.fit(previsores_treinamento,classe_treinamento)

GaussianNB(priors=None, var_smoothing=1e-09)

In [51]:
previsoes = classificador.predict(previsores_teste)

In [52]:
precisao = accuracy_score(classe_teste,previsoes)

In [53]:
matriz = confusion_matrix(classe_teste,previsoes)

In [54]:
precisao

0.938

In [55]:
pd.DataFrame(matriz)

     0   1
0  430   6
1   25  39

Neste caso , o pre processamento não surgiu efeito algum, já que ambos trouxeram os mesmos resultados :(